src/main/mule/common-notification-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:sns="http://www.mulesoft.org/schema/mule/sns"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/sns http://www.mulesoft.org/schema/mule/sns/current/mule-sns.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="common-notification-create-topic-private-flow" doc:id="cb015d28-ff44-4d04-b6f4-5f5f5e5f6ad9" >
		<logger level="INFO" doc:name="Entry Log" doc:id="167969bf-77d5-4b96-9353-f65dbc3319ef" message="Start create topic flow"/>
		<sns:create-topic doc:name="Create topic" doc:id="9360abfa-030f-4a0e-a4ca-24c8723ab59e" config-ref="Amazon_SNS_configuration" topicName="#[attributes.queryParams.topicName]"/>
		<ee:transform doc:name="Transform Message" doc:id="8267e886-c783-4f6f-b3c7-8b8d7c2bed4a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message" : "Successfully created topic",
	"topicArn" : payload
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Exit Log" doc:id="7e0a683f-f92a-4c49-8b81-5ed4cd91309e" message="Completed create topic flow"/>
	</flow>
	<flow name="common-notification-list-topic-private-flow" doc:id="d603e4af-3cf7-46a8-830c-337749d05055" >
		<logger level="INFO" doc:name="Entry Log" doc:id="03ac0319-8098-42b5-ab4a-cd4799dc255e" message="Start list topic flow"/>
		<sns:list-topics doc:name="List topics" doc:id="20b5d18a-3fe2-4a0c-8dca-431b2c67cbbd" config-ref="Amazon_SNS_configuration"/>
		<ee:transform doc:name="Transform Message" doc:id="80154532-1c9d-429b-b7e3-eb7901490361" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map {
	"topic" : $.payload,
	"attributes" : $.attributes
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Exit Log" doc:id="41fc943a-9f57-4fb9-8a78-ef50525633e5" message="Completed list topic flow"/>
	</flow>
	<flow name="common-notification-delete-topic-private-flow" doc:id="0668d3c2-f61b-4aea-a246-f371787dfe5f" >
		<logger level="INFO" doc:name="Entry Log" doc:id="b25e3a36-1123-4737-b3b6-fec47b652bb0" message="Start delete topic flow"/>
		<sns:delete-topic doc:name="Delete topic" doc:id="6b3ec4b4-9398-41b9-83be-3786bb32614c" config-ref="Amazon_SNS_configuration" topicArn="#[attributes.queryParams.arn]"/>
		<ee:transform doc:name="Transform Message" doc:id="4a407a4f-7d08-417c-a8c4-32b56fbce81b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message" : "Successfully deleted topic"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Exit Log" doc:id="5e3eecf4-72af-4f85-9d6c-4e327ac37c30" message="Completed delete topic flow"/>
	</flow>
	<flow name="common-notification-subscribe-email-private-flow" doc:id="75e44e08-838e-4018-b535-3b12b2a93a09" >
		<logger level="INFO" doc:name="Entry Log" doc:id="b2c67afe-cc5e-4c2b-9d0e-1798b2622233" message="Start subscribe email flow"/>
		<sns:subscribe doc:name="Subscribe" doc:id="8ceec1f5-b754-479a-9fc8-abf8e329fe1e" config-ref="Amazon_SNS_configuration" topicArn="#[attributes.queryParams.arn]" protocol="EMAIL" endpoint="#[attributes.queryParams.email]"/>
		<ee:transform doc:name="Transform Message" doc:id="ca318666-156e-4b2f-9a94-718dc5327dbd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message" : payload
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Exit Log" doc:id="85f19145-1bb4-4c3c-b149-4e3e18c818ad" message="Completed subscribe email flow"/>
	</flow>
	<flow name="common-notification-subscribe-sms-private-flow" doc:id="bae34ae1-2897-47f6-8f0c-126b1c394c3a" >
		<logger level="INFO" doc:name="Entry Log" doc:id="daea7ea2-2baf-45a4-9847-9c49adae60af" message="Start subscribe email flow"/>
		<sns:subscribe doc:name="Subscribe" doc:id="f211af29-2bbf-4a86-b43d-1df6ed373230" config-ref="Amazon_SNS_configuration" topicArn="#[attributes.queryParams.arn]" protocol="SMS" endpoint="#[attributes.queryParams.number]"/>
		<ee:transform doc:name="Transform Message" doc:id="152da3a9-0030-4c40-a3d2-8e76bf0e7108" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message" : payload
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Exit Log" doc:id="91f94659-2e47-45ba-975f-a35be440c3ec" message="Completed subscribe email flow"/>
	</flow>
	<flow name="common-notification-publish-private-flow" doc:id="f86f7baa-609b-409d-ae71-6fdc19582a1b" >
		<logger level="INFO" doc:name="Entry Log" doc:id="e35471f4-da63-444f-9bbc-857301a5ef76" message="Start subscribe email flow"/>
		<sns:publish doc:name="Publish" doc:id="0a3b9e51-384f-4cc0-be33-1577471f074d" topicArn="#[attributes.queryParams.arn]" config-ref="Amazon_SNS_configuration">
			<sns:message ><![CDATA[#[write(payload, "application/json")]]]></sns:message>
		</sns:publish>
		<ee:transform doc:name="Transform Message" doc:id="e4817db9-6c6a-445f-b5ed-c1c41fe3921b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Exit Log" doc:id="a4213779-5122-4bfb-8c37-ac24491caecf" message="Completed subscribe email flow"/>
	</flow>
</mule>
